apiVersion: apps/v1
kind: Deployment
metadata:
  name: payx-server
spec:
  template:
    spec:
      containers:
        - name: payx-server
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"
