apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: true
    editable: false
    jsonData:
      httpMethod: GET
      tracesToLogsV2:
        datasourceUid: ''
        spanStartTimeShift: ''
        spanEndTimeShift: ''
        filterByTraceID: false
        filterBySpanID: false
      tracesToMetrics:
        datasourceUid: ''
      serviceMap:
        datasourceUid: ''
      nodeGraph:
        enabled: true
      search:
        hide: false
      lokiSearch:
        datasourceUid: ''
      traceQuery:
        timeShiftEnabled: false
        spanStartTimeShift: ''
        spanEndTimeShift: ''
